.bmpui-ui-skin-cast-receiver {
    --theme-hue: 100;
    --progress-color: rgb(0, 255, 0);
    --splash-image: url('https://www.ubuy.com.pl/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNzFpNkwxdlpqaUwuX0FDX1NMMTA1OF8uanBn.jpg');
    --splash-size: cover;
}